
@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/mainLayout.cshtml";
}

<!--中间-->
<div class="middle">
  <div class="left">
    <div class="l_mistake" style="display:none" id="divPasswordError"></div>
    <div class="modify"> 
        <!--修改密码-->
        <div class="pwd">
        <div class="pwd_tit">修改登录密码</div>
        <div class="pwd_sx"> <span class="pw_name">当前密码:</span> <span>
            <input type="password"  class="pw_txt" id="txtOldPassword"/>
            </span> <span>请输入当前使用的密码</span> </div>
        <div class="pwd_sx"> <span class="pw_name">设置新密码:</span> <span>
            <input type="password"  class="pw_txt" id="txtNewPassword"/>
            </span> <span>请输入新密码，要求是字母、数字或符号，最短6个字符</span> </div>
        <div class="pwd_sx"> <span class="pw_name">确认新密码:</span> <span>
            <input type="password"  class="pw_txt" id="txtNewPasswordConfirm"/>
            </span> <span>请再次输入您的新密码</span> </div>
        </div>
        <div class="pwd_but">
        <input type="button" value="保存并提交" class="m_sub" onclick="ivaccount.changePassword();" />
        </div>
      
      <!--修改密码  end--> 
    </div>
  </div>
  <div class="right">
    <div class="right_h"></div>
    <div class="r_ad"><a href='#'><img src="~/Content/images/1.jpg" /></a></div>
    <div class="r_ad"><a href='#'><img src="~/Content/images/2.jpg" /></a></div>
    <!--网址推荐-->
    <div class="wzss">
      <div class="wzss_tit">网址推荐</div>
      <a href="#">hao123</a> <a href="#">360安全网址</a> <a href="#">搜狗网址导航</a> <a href="#">淘宝联盟橱窗推广</a> </div>
    <!--网址推荐 end-->
    <div class="r_ad"><a href='#'><img src="~/Content/images/3.jpg" /></a></div>
    <div class="r_ad"><a href='#'><img src="~/Content/images/4.jpg" /></a></div>
  </div>
</div>
<!--中间 end--> 
<script type="text/javascript" src="~/AppJS/Account/password.js"></script>
