@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>管理员添加/编辑</title>
</head>
<body>
    <!-- Modal -->
    <div>
        <div class="modal-body">
            <div>
                <p>
                    <span class="a_tit">用户名称(中文):</span>
                    <span><input type="text" id="txtUserName" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">登录名称(英文):</span>
                    <span><input type="text" id="txtLoginName" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">密码:</span>
                    <span><input type="password" id="txtPassword" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">确认密码:</span>
                    <span><input type="password" id="txtPasswordConfirmed" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">邮箱:</span>
                    <span><input type="text" id="txtEmail" class="form-control" style="width:340px;" /></span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" onclick="userlist.saveUser(companylist.pselectedCompanyID, -1);">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            userlist.loadUser();
        })
    </script>
</body>
</html>