<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Slickflow 管理后台</title>
    <meta name="description" content="Bootstrap mashable-style 3 column layout. Fixed sidebar and middle column using affix." />
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">

    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/bootstrap/bootstrap-progressbar-2.3.1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/slickgrid/slick.grid.css" rel="stylesheet" />
    <link href="~/Content/slickgrid/slickgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/slickgrid/slickgrid-example.css" rel="stylesheet" />

    <link href="~/Content/msgBoxLight.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/layout.css" />
    <link rel="stylesheet" href="~/Content/style.css"/>
    <style type="text/css">
        .nav-tabs > li .close {
			margin: -3px 0 0 10px;
			font-size: 18px;
			padding: 5px 0;
			float: right;
		}

        .nav-tabs > li a[data-toggle=tab] {
			float: left!important;
		}
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="http://github.com/besley/slickone">SlickOne</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right top-menu">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-white icon-th"></i>GitHub <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://github.com/besley/slickflow">Slickflow</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://github.com/besley/slickmasterce">SlickMaster</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://github.com/besley/slickone">SlickOne</a></li>
                            </ul>
                        </li>
                        <li><a href="http://demo.slickflow.com/sfd/" target="view_window_sfd">流程设计器</a></li>
                        <li><a href="http://demo.slickflow.com/smd/" target="view_window_smd">表单设计器</a></li>
                        <li><a href="http://www.slickflow.com/demo/index" target="view_window_demo">DEMO示例</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--sidebar-->
                <div class="sidebar-nav-fixed" data-spy="affix" data-offset-top="140">
                    <ul class="nav nav-list">
                        <li><a href="#" onclick="somain.showTab('process')">流程定义</a></li>
                        <li><a href="#" onclick="somain.showTab('form')">表单定义</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onclick="somain.showTab('processinstance')">流程实例</a></li>
                        <li><a href="#" onclick="somain.showTab('activityinstance')">活动实例</a></li>
                        <li><a href="#" onclick="somain.showTab('task')">任务实例</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onclick="somain.showTab('log')">系统日志</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <!-- tabs bottom -->
                <div class="tabbable tabs-below">
                    <div id="divTabContentContainer" class="tab-content">
                        <div class="tab-pane active" style="height:600px;" id="one_">
                            <h3>我的工作台</h3>
                            待办任务列表，事项提醒，便签记录等.
                            <img src="~/Content/images/sailor.jpg" />
                        </div>
                        <div id="process_" class="tab-pane hide" style="height:600px;">
                            <h4>流程记录</h4>
                            <div id="myprocessgrid" class="grid-container" style="width:100%;height:600px;float:left;"></div>
                        </div>
                        <div id="form_" class="tab-pane hide" style="height:600px;width:100%;">
                            <h4>表单记录</h4>
                            <div id="myformgrid" class="grid-container" style="width:100%;height:600px;float:left;"></div>
                        </div>
                        <div id="processinstance_" class="tab-pane" style="height:600px;width:100%;">
                            <h4>流程实例</h4>
                            <div id="myprocessinstancegrid" class="grid-container" style="width:100%;height:600px;float:left;"></div>
                        </div>
                        <div id="activityinstance_" class="tab-pane hide" style="height:600px;width:100%;">
                            <h4>活动实例</h4>
                            <div id="myactivityinstancegrid" class="grid-container" style="width:100%;height:600px;float:left;"></div>
                        </div>
                        <div id="task_" class="tab-pane hide" style="height:600px;width:100%;">
                            <h4>任务记录</h4>
                            <div id="mytaskgrid" class="grid-container" style="width:100%;height:600px;float:left;"></div>
                        </div>
                        <div id="log_" class="tab-pane hide" style="height:600px;width:100%;">
                            <h4>系统日志</h4>
                            <div id="myloggrid" class="grid-container" style="width:100%;height:600px;float:left;"></div>
                        </div>

                    </div>
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#one_">
                                工作台
                            </a>
                        </li>
                        @*<li>
                            <a data-toggle="tab" href="#process_">
                                流程记录
                                <button class="close" title="Remove this page" type="button">×</button>
                            </a>
                        </li>*@
                    </ul>
                </div>
                <!-- /tabs -->
            </div>
        </div>
    </div>

    <img src="~/Content/images/ajax-loader.gif" id="loading-indicator" style="position: fixed; left: 50%; top: 40%; display: none;" />

    <!--scripts loaded here-->
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-1.10.3.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.msgBox.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-progressbar.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="~/Scripts/handlebars.js"></script>
    <script type="text/javascript" src="~/Scripts/jshelper.js"></script>

    <!-- slickgrid -->
    <script src="~/Scripts/slickgrid/slickgrid.min.js"></script>

    <script type="text/javascript" src="~/ViewJS/somain.js"></script>
    <script type="text/javascript" src="~/ViewJS/processlist.js"></script>

    @RenderBody()

    <script type="text/javascript">
        $(function () {
            somain.initPage();
        })
    </script>
</body>
</html>
