@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>公司添加/编辑</title>
</head>
<body>
    <!-- Modal -->
    <div>
        <div class="modal-body">
            <div>
                <p>
                    <span class="a_tit">公司名称:</span>
                    <span><input type="text" id="txtCompanyName" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">公司类型:</span>
                    <span>
                        <select id="ddlCompanyType" class="form-control" style="width:340px;">
                            <option value="default" disabled selected>--请选择--</option>
                            <option value="GP">集团</option>
                            <option value="CP">公司</option>
                        </select>
                    </span>
                </p>
                <p>
                    <span class="a_tit">代码:</span>
                    <span><input type="text" id="txtCompanyCode" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">描述:</span>
                    <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" onclick="companylist.saveCompany();">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            companylist.loadCompany();
        })
    </script>
</body>
</html>