@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>活动属性编辑</title>
    <style type="text/css">
        .parentRow {
            width: 500px;
            height: 16px;
            margin-right: 10px;
            margin-bottom: 25px;
        }

        .childColumn {
            float: left;
            margin-right: 5px;
        }
    </style>

</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row">
            <p>
                <span class="a_tit">名称:</span>
                <span><input type="text" id="txtActivityName" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">代码:</span>
                <span><input type="text" id="txtActivityCode" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
            </p>
            <div id="divMultipleInstanceContent">
                <p>
                    <div class="parentRow">
                        <div class="childColumn">
                            <span class="a_tit">会加签类型:</span>

                            <select id="ddlComplexType" class="form-control" style="width:120px;float:left;">
                                <option value="default" disabled selected>--请选择--</option>
                                <option value="SignTogether">会签</option>
                                <option value="SignForward">加签</option>
                            </select>
                        </div>
                        <div class="childColumn">
                            <span class="a_tit">串并行选择:</span>

                            <select id="ddlMergeType" class="form-control" style="width:120px;float:left;">
                                <option value="default" disabled selected>--请选择--</option>
                                <option value="Sequence">串行</option>
                                <option value="Parallel">并行</option>
                            </select>
                        </div>
                    </div>
                </p>
                <p>
                    <div class="parentRow">
                        <div class="childColumn">
                            <span class="a_tit">通过率类型:</span>

                            <select id="ddlCompareType" class="form-control" style="width:120px;float:left;">
                                <option value="default" disabled selected>--请选择--</option>
                                <option value="Count">个数</option>
                                <option value="Percentage">百分比</option>
                            </select>
                        </div>

                        <div class="childColumn">
                            <span class="a_tit">通过率(%):</span>
                            <input type="text" id="txtCompleteOrder" class="form-control" style="width: 120px;float:left;" />
                        </div>
                    </div>
                </p>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#role" role="tab" data-toggle="tab">角色</a></li>
            <li><a href="#action" role="tab" data-toggle="tab">外部事件</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="role">
                <div class="row">
                    <b class="icoBtn btnNew" onclick="activityproperty.addPerformer();"></b>
                    <b class="icoBtn btnDel" onclick="activityproperty.delPerformer();"></b>
                    <div id="myPerformerGrid" class="ag-bootstrap" style="width:100%;height:160px;float:left;"></div>
                </div>
            </div>
            <div class="tab-pane" id="action">
                <div class="row">
                    <p>
                        <span class="a_tit">标识名称:</span>
                        <span><input type="text" id="txtActionName" class="form-control" style="width:340px;" /></span>
                    </p>
                    <p>
                        <span class="a_tit">序列集名称:</span>
                        <span><input type="text" id="txtActionAssembly" class="form-control" style="width:340px;" /></span>
                    </p>
                    <p>
                        <span class="a_tit">接口名称:</span>
                        <span><input type="text" id="txtActionInterface" class="form-control" style="width:340px;" /></span>
                    </p>
                    <p>
                        <span class="a_tit">方法名称:</span>
                        <span><input type="text" id="txtActionMethod" class="form-control" style="width:340px;" /></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" onclick="activityproperty.saveActivity();">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>

    <script type="text/javascript">
        $(function () {
            //load activity information
            activityproperty.loadActivity();
        });
    </script>
</body>
</html>