@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>事件属性编辑</title>
    <style type="text/css">
        .parentRow {
            width: 500px;
            height: 16px;
            margin-right: 10px;
            margin-bottom: 25px;
        }

        .childColumn {
            float: left;
            margin-right: 5px;
        }
    </style>

</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row">
            <p>
                <span class="a_tit">名称:</span>
                <span><input type="text" id="txtActivityName" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">代码:</span>
                <span><input type="text" id="txtActivityCode" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">CRON表达式:</span>
                <span>
                    <input type="text" id="txtCronExpression" class="form-control" style="width:240px;float:left;" />
                    <button class="btn btn-success btn-sm" onclick="eventproperty.editCron();"><span class="glyphicon glyphicon-list-alt"></span> 设定...</button>
                </span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" onclick="eventproperty.saveEvent();">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>

    <script type="text/javascript">
        $(function () {
            //load activity information
            eventproperty.loadEvent();
        });
    </script>
</body>
</html>