<div>
    <!-- 功能操作按钮 -->
    <div class="top-nav top-toolbuttongroup">
        <a href="#" class="btn btn-info btn-small" data-action="add" onclick="somain.addrecord('resource/edit')"><i class="icon-white icon-plus"></i> 新增</a>
        <a href="#" class="btn btn-info btn-small" data-action="edit" disabled="true"><i class="icon-white icon-pencil"></i> 编辑</a>
        <a href="#" class="btn btn-info btn-small" data-action="delete" disabled="true"><i class="icon-white icon-remove"></i> 删除</a>
        @*<a href="#" class="btn btn-info btn-small" data-action="query" onclick="somain.queryrecord();"><i class="icon-white icon-search"></i> 查询</a>*@
        <a href="#" class="btn btn-info btn-small" onclick="somain.refreshrecord();"><i class="icon-white icon-refresh"></i> 刷新</a>
    </div>
    <div id="myresourcegrid" class="ag-bootstrap" style="width:100%;height:700px;float:left;"></div>
</div>

<script type="text/javascript">
    $(function () {
        resourcelist.getResourceList();
    });
</script>
