<div>
    <div id="myroleusertree" class="ztree" style="width:100%;height:700px;float:left;background-color:#f6f6f6;"></div>
</div>

<script type="text/javascript">
    $(function () {
        roleusertree.getRoleUserTree();
    });
</script>
