@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>资源添加/编辑</title>
</head>
<body>
    <!-- Modal -->
    <div>
        <div class="modal-body">
            <div>
                <p>
                    <span class="a_tit">资源名称:</span>
                    <span><input type="text" id="txtResourceName" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">资源编码:</span>
                    <span><input type="text" id="txtResourceCode" style="width:340px;" value="1" /></span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" onclick="resourcetree.saveRole();">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            //resourcetree.loadRole();
        })
    </script>
</body>
</html>