@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>表单属性编辑</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div>
            <p>
                <span class="a_tit">标题:</span>
                <span><input type="text" id="txtEntityTitle" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">表单名称:</span>
                <span><input type="text" id="txtEntityName" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" onclick="formlist.saveForm();">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
    <script type="text/javascript">
        $(function () {
            formlist.loadForm();
        })
    </script>
</body>
</html>