<div>
    <!-- 功能操作按钮 -->
    <div class="top-nav top-toolbuttongroup">
        <a href="#" class="btn btn-info btn-small" data-action="add" onclick="somain.addrecord('form/edit')"><i class="icon-white icon-plus"></i> 新增</a>
        <a href="#" class="btn btn-info btn-small" data-action="edit" onclick="somain.editrecord('form/edit');"><i class="icon-white icon-pencil"></i> 编辑</a>
        <a href="#" class="btn btn-info btn-small" data-action="design" onclick="somain.executerecord('design', 'formlist.design');"><i class="icon-white icon-pencil"></i> 设计</a>
        <a href="#" class="btn btn-info btn-small" data-action="delete" onclick="somain.deleterecord('formlist.delete');"><i class="icon-white icon-remove"></i> 删除</a>
        <a href="#" class="btn btn-info btn-small" onclick="somain.refreshrecord();"><i class="icon-white icon-refresh"></i> 刷新</a>
    </div>
    <div id="myformgrid" class="ag-bootstrap" style="width:100%;height:700px;float:left;"></div>
</div>

<script type="text/javascript">
    $(function () {
        formlist.getFormList();
    });
</script>
