
@{
    Layout = null;
}


<!-- Modal -->
<div class="modal-body">
    <div class="modal-body">
        <div class="row span2">
            <label>表单绑定流程: </label>
            <select class="form-control input-lg m-bot15" id="ddlProcesses">
                <option value="null">--流程列表--</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-primary" data-dismiss="modal" onclick="setting.sure();">确定</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        setting.loadProcess();
    })
</script>

