
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>React DEMO</title>
</head>
<body>
    <div>Top Root:<div id="root"></div></div>
    
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/react/react.min.js"></script>
    <script type="text/javascript" src="~/Scripts/react/react-dom.min.js"></script>
    @*<script src="@Url.Content("~/ViewJS/tutorial.jsx")"></script>*@
    <script src="~/ViewJS/Jsx/tutorial.jsx"></script>
</body>
</html>